
form{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width: clamp(200px, 300px, 500px);
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 5%;
  }

#message{
  min-height: 20%;
  min-width: 100%;
  max-width: 100%;
}

input{
  border-radius: 8px;
}

#submit{
  background-color: var(--header-footer);
  color: black;
  height: 30px;
  font-size: 20px;
}

input{
  padding-left: 5px;
}

textarea{
  border-radius: 8px;
  padding-left: 6px;
  padding-top: 5px  ;
}
span{
  color: red;
  gap: 5px;

}

#message-success{
  color: green;
  text-align: center;
  font-size: x-large;
}

/* #kontakt-os{
  display: none;
} */

/* .kontaktform{
  margin-left: 500px;
} */
